<header class="p-3 bg-white text-white" style="border-radius: 20px 20px 0 0">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary me-2"><strong>CLOTHING</strong></a></li>
        <li><a href="#" class="nav-link px-2 text-dark font-hover-bold">New</a></li>
        <li><a href="#" class="nav-link px-2 text-dark font-hover-bold">Men</a></li>
        <li><a href="#" class="nav-link px-2 text-dark font-hover-bold">Women</a></li>
        <li><a href="#" class="nav-link px-2 text-dark font-hover-bold">Kids</a></li>
        <li><a href="#" class="nav-link px-2 text-info font-hover-bold">Special Offers</a></li>
      </ul>

      <div class="d-flex align-items-center">
        <div class=" d-flex align-items-center cart-radius me-5 col-4">
          <a class="d-flex text-decoration-none position-relative mw-50">
            <i class="fa fa-shopping-cart fa-2x mx-5 text-muted"></i>
            <div class="cart-no">{{cartItem}}</div>
          </a>
          <div class="cart-hr col-6">

          </div>
        </div>
        <div class="d-flex align-items-center col-8 ms-3">
          <button type="button" style="border: none;" class="btn btn-primary btn-sm btn-nav-width me-2 btn-nav-bg btn-text-color">Sign Up</button>
          <button type="button" style="border: none;" class="btn btn-primary btn-sm btn-nav-width">Log in</button>
        </div>

      </div>

    </div>
  </div>
</header>
