<div class="card mt-3 mb-4">
  <div class="d-flex justify-content-between align-baseline m-4">
    <div class="col-md-8 col-sm-6">
      <h4><b>Order</b></h4>

    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h4><b>Payment Summary</b></h4>
    </div>
  </div>
  <div class="row justify-content-around ">
      <div class="col-md-8 cart col-sm-10 mb-md-4 mb-sm-3 sale-banner">


          <div class="row border-bottom">
              <div class="row main align-items-center item-height" >
                    <div class="col-2" style="height: 80px; width: 70px;"><img class="img-fluid rounded maxh-100" src="../../assets/img/airRedPants.jpg"></div>
                    <div class="col-lg col-sm-5">
                        <div class="row">Air Red Pants</div>
                        <div><span class="text-muted" >Color:</span>Red/White</div>
                        <div><span class=" text-muted">Size:</span> L</div>
                    </div>
                    <div class="d-flex col">
                        <del class="text-danger me-2">&dollar;200.00</del>
                        <div>&dollar;100.00</div>
                    </div>
                    <div class="d-flex col counter-align mt-3">

                      <div class="col-6">
                        <p>Quantity</p>
                      </div>
                      <div class="col-6 mt-1">
                        <input type="number" class="form-control form-control-lg text-center" value="1">

                      </div>

                    </div>
                    <div class="col-2"> <div class="custom-size"><p class="mt-1" >L</p></div></div>
              </div>
          </div>
          <div class="row">
              <div class="row main align-items-center item-height">
                  <div class="col-2 " style="height: 80px; width: 70px;"><img class="img-fluid rounded maxh-100" src="../../assets/img/count Dri-fit.jpg"></div>
                    <div class="col-lg col-sm-5">
                        <div>Count Dri-Fit <i class="fas fa-leaf text-success"></i></div>
                        <div><span class="text-muted" >Color:</span>Dark Blue</div>
                        <div><span class=" text-muted">Size:</span> L</div>
                    </div>
                    <div class="d-flex col">
                        <del class="text-danger me-2">&dollar;200.00</del>
                        <div>&dollar;100.00</div>
                    </div>

                    <div class="d-flex col counter-align mt-3">

                      <div class="col-6">
                        <p>Quantity</p>
                      </div>
                      <div class="col-6 mt-1">
                        <input type="number" class="form-control form-control-lg text-center" value="1">

                      </div>

                    </div>
                    <div class="col-2"> <div class="custom-size"><p class="mt-1" >L</p></div></div>
              </div>
          </div>
          <div class="row border-top">
              <div class="row main align-items-center item-height">
                  <div class="col-2" style="height: 80px; width: 70px;"><img class="img-fluid maxh-100" src="../../assets/img/sweaters.jpg"></div>
                    <div class="col-5 position-relative">
                        <div class="row">SportsWear Heritage Windrunner </div>
                        <div class="d-flex justify-content-between col-6">
                            <div class="price-margin"><span class="text-muted" >Color:</span>Blue/White</div>
                            <div style="right: -18px;" class="position-absolute">&dollar;100.00</div>
                        </div>
                        <div><span class=" text-muted">Size:</span> L</div>
                    </div>
                    <div class="d-flex col counter-align mt-3 ms-4 justify-content-end ">

                      <div class="col-5">
                        <p>Quantity</p>
                      </div>
                      <div class="col-5 mt-1">
                        <input type="number" class="form-control form-control-lg text-center" value="1">
                      </div>
                    </div>
                    <div class="col-2"> <div class="custom-size"><p class="mt-1" >L</p></div></div>
              </div>
          </div>
      </div>
      <div style="height: 100%;" class="col-md-3 summary col-sm-10">
        <form>
          <div class="custom-account text-center">
              <p class="p-2" >UNREGISTERED ACCOUNT</p>
          </div>
          <div class="row justify-content-between">
            <div class="col-7">Transaction code</div>
            <div class="col-5 text-end">VC115665</div>
          </div>
          <div class="d-flex align-just mt-3">
            <div class="col-7">
              <input  id="code" placeholder="CUPON CODE">

            </div>
            <div class="col-3">
              <button type="button" style="border: none;" class="btn btn-primary btn-sm btn-apply-width me-2 btn-apply-bg btn-text-color">Apply</button>

            </div>
          </div>
          <hr style="margin: 0px;" class="dash" >
        </form>
        <div class="row">
            <div class="col text-start">Order Summary</div>
            <div class="col text-end">&dollar;122</div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col-8 text-start">Additional Service</div>
          <div class="col text-end">&dollar;10</div>
        </div>
        <div class="row text-end mt-3">
            <div class="col text-start">Total Amount</div>
            <div class="col">&dollar;132</div>
        </div>

        <hr style="margin: 0px;" class="dash mt-3">
        <div class="custom-timer text-center mt-4">
          <p  style="font-size: 0.75rem;" class="p-2" >SALE EXPIRING IN: <span class="text-danger">21 HOURS, 31 MINUTES</span> </p>
      </div>
      </div>
  </div>
</div>
