<div class="card mt-3 mb-4">
  <div class="d-flex justify-content-between align-baseline m-4">
    <div class="col-md-8 col-sm-6">
      <h4><b>Order</b></h4>

    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <h4><b>Payment Summary</b></h4>
    </div>
  </div>
  <div class="row justify-content-around ">
      <div class="col-md-8 cart col-sm-10 mb-md-4 mb-sm-3 sale-banner">


          <div class="row">
              <ng-container *ngFor="let item of getCartDetails">
                <div class="row main align-items-center item-height" [ngClass]="{'border-top': item.id == 2 || item.id == 3 }">
                  <div class="col-2" style="height: 80px; width: 70px;"><img class="img-fluid rounded maxh-100" src="{{item.pictureUrl}}"></div>
                  <div class="col-lg col-sm-5" [ngClass]="{'col-lg-4': item.id == 3 }">
                      <div class="">{{item.name}} <i *ngIf="item.id == 2" class="fas fa-leaf text-success"></i></div>
                      <div><span class="text-muted" >Color:</span>{{item.color}}</div>
                      <div><span class=" text-muted">Size:</span>{{item.size}}</div>
                  </div>
                  <div class="d-flex col" [ngClass]="{'col-2': item.id == 3 }" [ngStyle]="{'padding': item.id == 3 ? '0px' : '1px' }">
                      <del *ngIf="item.id == 2 || item.id == 1" class="text-danger me-2">&dollar;{{item.price}}</del>
                      <div [ngClass]="{'custom-sale-price': item.id == 3 }" >&dollar;{{item.salePrice}}</div>
                  </div>
                  <div class="d-flex col counter-align mt-3">

                    <div class="col-6">
                      <p>Quantity</p>
                    </div>
                    <div class="col-6 mt-1">
                      <!-- <input type="number" class="form-control form-control-lg text-center" (change)="incQnt($event, item.id, item.quantity)" [value]="item.quantity" min="0" max="10" > -->
                      <div  class=" d-flex form-control form-control-lg text-end p-0 justify-content-around">
                        <div class="col-8 text-center position-relative">
                          <span style="top: 29%;" class="position-absolute">{{item.quantity}}</span>

                        </div>
                        <div class="">
                          <button class="btn pb-0 me-1" (click)="incqnt(item.id, item.quantity)"><i class="fas fa-arrow-up"></i></button>
                          <button class="btn pt-0 me-1" (click)="decqnt(item.id, item.quantity)"><i class="fal fa-arrow-down"></i></button>
                        </div>
                      </div>

                    </div>

                  </div>
                  <div class="col-2"> <div class="custom-size"><p class="mt-1" >{{item.size}}</p></div></div>
              </div>
            </ng-container>
          </div>
      </div>
      <div style="height: 100%;" class="col-md-3 summary col-sm-10">
        <form>
          <div class="custom-account text-center">
              <p class="p-2" >UNREGISTERED ACCOUNT</p>
          </div>
          <div class="row justify-content-between">
            <div class="col-7">Transaction code</div>
            <div class="col-5 text-end">VC115665</div>
          </div>
          <div class="d-flex align-just mt-3">
            <div class="col-7">
              <input  id="code" placeholder="CUPON CODE">

            </div>
            <div class="col-3">
              <button type="button" style="border: none;" class="btn btn-primary btn-sm btn-apply-width me-2 btn-apply-bg btn-text-color">Apply</button>

            </div>
          </div>
          <hr style="margin: 0px;" class="dash" >
        </form>
        <div class="row">
            <div class="col text-start">Order Summary</div>
            <div class="col text-end">&dollar;{{total}}</div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col-8 text-start">Additional Service</div>
          <div class="col text-end">&dollar;{{serviceTotal}}</div>
        </div>
        <div class="row text-end mt-3">
            <div class="col text-start">Total Amount</div>
            <div class="col">&dollar;{{total + serviceTotal}}</div>
        </div>

        <hr style="margin: 0px;" class="dash mt-3">
        <div class="custom-timer text-center mt-4">
          <p  style="font-size: 0.98rem;" class="p-1" >SALE EXPIRING IN: <span id="timer" class="text-danger">{{expire}}</span> </p>
      </div>
      </div>
  </div>
  <div class="d-flex">
    <app-delivery class="col-md-8 col-sm-12" ></app-delivery>
    <app-additional-service (valueChange)='displayCounter($event)' class="d-flex col-md-4 col-sm-12 justify-content-end mb-3" ></app-additional-service>
  </div>


</div>


